.jumbotron {
    background-image: url("https://cdn-images-1.medium.com/max/1600/0*kcnamVBpM1mWyD5W");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    padding: 0rem 0rem;
  }